<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOLR - Nigeria's #1 Exam Prep Platform</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link  rel="stylesheet" href="landing.css">
    <link rel="icon" type="image/png" href="">

    
</head>
<body>
    
    <!--NAVBAR-->
    <nav>
        <div class="left">SCHOLR</div>
      
        <div class="right">
            <a href="login.html">
               <span>Login</span> 
            </a>
            <a href="signup.html">
               <span>Get Started</span> 
            </a>
        </div>
       
    </nav>

    <main>
        <!--SECTION 1-->
       <section class="hero-section">
    <div class="students">
        <img src="images/studentslanding.png" alt="students">
    </div>
    <div class="hero-content">
        <span class="badge">Built for Nigerian Students </span>
        <h1>The Smart Way to Prepare for JAMB, WAEC & NECO</h1>
        <p>Practice with AI-powered questions, track your weak areas, and walk into your exam with confidence.</p>
        <a href="signup.html" class="btn-primary">Start Practicing </a>
        <a href="login.html" class="btn-secondary">I Already Have an Account</a>
    </div>
</section>
        </section>
        <!--SECTION 2-->
        <section></section>
        <!--SECTION 3-->
        <section></section>
        <!--SECTION 4-->
        <section></section>
        <!--SECTION 5-->
        <section></section>
        <!--SECTION 6-->
        <section></section>
        <!--SECTION 7 FOOTER-->
        <section></section>
    </main>
</body>
</html>